/*All Presentational CSS*/

/*Font styling*/
body {
  color: #4a4a4a;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}

h1 {
  font-size: 3em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.25em;
}

.list-input-label {
  margin: 4em auto 0 auto;
  width: 80%;
}

.errorMessage {
  color: #FF798A;
  font-size: 0.75em;
}

#title {
  margin-top: 2em;
}

#subtitle {
  margin: 0 auto;
  width: 80%;
}

#instructions {
  margin: 1.5em auto 1em auto;
  width: 80%;
}

#game-results-intro {
  margin-top: 5em;
}

input[type="button"] {
  background: linear-gradient(to right, #10C39F , #FFDA6C);
  border-radius: 6px;
  border: none;
  color: white;
  display: block;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 0.5em 1.5em;
  margin: 1em auto 0 auto;
}

input[type="text"] {
  background-color: #EBEBE6;
  border: 1px solid #DDD;
  border-radius: 2px;
  font-size: 2em;
  height: 1.5em;
  margin-top: 0.5em;
  text-align: center;
  width: 120px;
}


/*Core CSS Styles*/

.hidden {
  display: none;
}



.swatch {
  border-radius: 50%;
  max-height: 240px;
  max-width: 240px;
  margin: 0.5em;
}

.swatch-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.question-indicator{
  border: 2px solid #CCC;
  border-radius: 20px;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.question-indicator-correct {
  background-color: #00FF00;
  border: none;
}

.question-indicator-incorrect {
  background-color: #FF0000;
  border: none;
}
