/*All Presentational CSS*/

body {
  background-color: #111;
  /*background-image: url("images/bg-short.svg");*/
  color: white;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 300;
  line-height: 1.3333333em;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.3333333em;
}

h3 {
  font-size: 1em;
}

.title {
  margin-top: 2em;
}

.list-input-label {
  font-size: 0.875em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.color-box {
  height: 100px;
}

.color-box-correct {
  border: 5px solid #FFF;
}

.color-box-incorrect {
  border: 5px solid #FF798A;
}

.color-group-container {
  margin-bottom: 0.5em;
}

.errorMessage {
  color: #FF798A;
  font-size: 0.583333333em;
}

.hidden {
  display: none;
}

.light-font {
  color: rgba(255,255,255,0.6);
}

input[type="button"] {
  background: none;
  display: block;
  letter-spacing: 2px;
  margin: 2.66666666667em auto 0 auto;
}

input[type="text"] {
  background-color: rgba(255,255,255,0.2);
  border: none;
  border-radius: 2px;
  height: 40px;
  text-align: center;
  width: 60px;
}

.btn-large {
  border: 2px solid #EEE;
  border-radius: 6px;
  font-size: 1em;
  padding: 0.5em 1.5em;
}

#question-counter {
  margin-top: 5em;
}

#instructions {
  margin-top: 1.333333em;
  margin-bottom: 0.8333333em;
}

#game-results-intro {
  margin-top: 5em;
}
